@import '../../style/variables.less';

.dropDown {
    display: none;
    width: 210px;
    padding: 15px;
    z-index: 100;

    background: @color-white;
    box-shadow: @shadow-black;
    border-radius: 12px;
}

.dropDown__item {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    cursor: pointer;

    &:last-of-type {
        margin-bottom: 0;
    }

    button {
        margin-right: 15px;
    }

    .dropDown__file {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        overflow: hidden;
        cursor: pointer;

        input {
            width: 100%;
            height: 100%;
            opacity: 0;
            padding-left: 240px;
            margin-right: -240px;
            cursor: pointer;
        }
    }
}
