@import '../../style/variables.less';

.dropDown {
    display: none;
    width: 210px;
    padding: 15px;
    z-index: 100;

    background: @color-white;
    box-shadow: @shadow-black;
    border-radius: 12px;
}

.dropDown__item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;

    &:last-of-type {
        margin-bottom: 0;
    }

    button {
        margin-right: 15px;
    }
}
