@import '../../style/variables.less';

.fieldLink__link {
    text-decoration: none;
    color: @color-blue;
    font-size: 13px;
    line-height: 13px;
    font-weight: 500;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid @color-gray;
    width: 100%;
    display: inline-block;
}

.fieldLink--red {
    color: @color-red;
    border: none
}
