@import '../../style/variables.less';

.button {
    width: 280px;
    margin: 0;
    padding: 10px;

    background-color: @color-blue;
    border-radius: 8px;
    border-color: transparent;
    cursor: pointer;

    color: @color-white;
    font-size: 13px;
    line-height: 13px;
    font-weight: 500;
    letter-spacing: 0.5px;
}

.button--white {
    background-color: @color-white;

    color: @color-blue;
    font-size: 11px;
    line-height: 11px;
}
