@import '../../style/variables.less';

.chat-list {
    display: flex;
    flex-direction: column;
    width: 310px;
    height: 100vh;
    padding: 10px;

    border-right: 1px solid @color-gray;
}

.chat-list__button-wrapper {
    display: flex;
    justify-content: end;
}

.chat__items {
    li {
        &.active {
            background-color: rgba(239, 239, 239, 0.5);
        }
    }
}
