<div class="popup__wrapper">
    <div class="popup">
        <div class="popup__title">{{{ title }}}</div>
        <div class="popup__text">{{{ text }}}</div>
        <div class="popup__buttons">{{{ Button }}}</div>
    </div>
</div>
