<div class="popup">
    <h2 class="popup__title">{{ title }}</h2>
    {{#if formAuthorization}}
        {{> formAuthorization}}
    {{/if}}

    {{#if formRegistration}}
        {{> formRegistration}}
    {{/if}}
</div>