<div class="loginForm">
    <h2 class="loginForm__title">{{ title }}</h2>
    {{> button id='button__aauthorization' value='Авторизоваться' }}
    {{> button id='button_account-empty' value='Нет аккаунта?' classes="button--white" }}
</div>