<section class="page__index">
    <h2 class="page__title">{{ title }}</h2>

    <ul class="pages__list">
        <li class="pages__item">
            <a href="#" class="pages__item-link link-1">Страница 404</a>
        </li>
        <li class="pages__item">
            <a href="#" class="pages__item-link link-2">Страница 500</a>
        </li>
        <li class="pages__item">
            <a href="#" class="pages__item-link link-3">Авторизация</a>
        </li>
        <li class="pages__item">
            <a href="#" class="pages__item-link link-4">Регистрация</a>
        </li>
        <li class="pages__item">
            <a href="#" class="pages__item-link link-5">Страница настройки пользователя</a>
        </li>
    </ul>
</section>