@import '../../style/variables.less';

.chat-content {
    flex-grow: 1;
    border-top: 1px solid @color-gray;
    border-bottom: 1px solid @color-gray;
}

.chat-content__dummy {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    display: none;
}

.user__inChat {
    width: auto;
    padding: 5px;
}

.chat-content__users {
    display: flex;
    flex-wrap: wrap;

    .user {
        margin: 1px;
    }
}

.popup {
    .text {
        input {
            width: 100%;
        }

        label {
            width: auto;
        }
    }
}
