<div class="chat-content">
    <div class="chat-content__dummy">
        <p>{{ dummyText }}</p>
    </div>
    <ul class="chat-content__message-list">
        <li class="chat-content__message-item">{{{ message1 }}}</li>
        <li class="chat-content__message-item">{{{ message2}}}</li>
    </ul>
</div>
