<div class="chat-content">
    <p>ID юзеров в чате</p>
    <ul class="chat-content__users">
        {{#each users}}
            <li class="user">{{{ this }}}</li>
        {{/each}}
    </ul>
    <div class="chat-content__dummy">
        <p>{{ dummyText }}</p>
    </div>
    <ul class="chat-content__message-list">
        {{#each childrens}}
            <li>{{{ this }}}</li>
        {{/each}}
    </ul>
</div>
