<div class="chat-content">
    <div class="chat-content__dummy">
        <p>{{ dummyText }}</p>
    </div>
    <ul class="chat-content__message-list">
        {{#each childrens}}
            <li>{{{ this }}}</li>
        {{/each}}
    </ul>
</div>
