<div class="avatar">
    <div class="avatar__image-wrapper">
        <img src={{ url }} alt={{ alt }}>
        <span class="avatar__image-text">{{ text }}</span>
        <input type="file" name="avatar">
    </div>
    <h2 class="avatar__title">{{ title }}</h2>
</div>
