<div class="avatar">
    <div class="avatar__image-wrapper">
        <img src="img/avatar.png" alt="avatar">
        <span class="avatar__image-text">Поменять аватар</span>
    </div>
    <h2 class="avatar__title">Иван</h2>
</div>