<section class="page__index">
		{{> pageIndex}}

		{{!-- {{> page404}} --}}

		{{!-- {{> page500}} --}}

		{{!-- {{> pageAuthorization }} --}}

		{{!-- {{> pageUserSettings }} --}}
</section>
