<form method="post" enctype="multipart/form-data" autocomplete="off">
    <div class="form-authorization__fields">
        {{> input
            type="text"
            name="login"
            classes="field__text"
            placeholder="Логин"
            labelValue="Логин"
            errorValue="Неверный логин"
        }}
        {{> input
            type="password"
            name="password"
            classes="field__password"
            placeholder="Пароль"
            labelValue="Пароль"
            errorValue="Неверный пароль"
        }}
    </div>
        {{> button
            id='button__aauthorization'
            value='Авторизоваться'
        }}
        {{> button
            id='button_account-empty'
            value='Нет аккаунта?'
            classes="button--white"
        }}
</form>