<div class="message {{ classes }}">
    <div class="message__date">{{ date }}</div>
    <div class="message__content">
        <div class="message__content-text">{{ content }}</div>
        <div class="message__content-image">
            <img src="" alt="">
        </div>
        <div class="message__time-wrapper">
            <time class="message__content-time">{{ time }}</time>
        </div>
    </div>
</div>
